.logoutBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.userEmail {
    position: absolute;
    top: 10px;
    right: 80px;
}

.nav {
    width: 100%;
    height: 5rem;
    background-color: #044599;
    padding: 0 10%;
}